<div class="uk-card uk-card-default uk-card-body">
    <ul class="uk-nav-default" uk-nav>
        <li class="uk-margin-small" routerLinkActive="nav-active">
            <a routerLink="/">
                <span uk-icon="icon: home"></span>
                <span class="uk-margin-small-left">HOME</span>
            </a>
        </li>
        <li class="uk-margin-small" routerLinkActive="nav-active">
            <a routerLink="/list">
                <span uk-icon="icon: list"></span>
                <span class="uk-margin-small-left">LIST</span>
            </a>
        </li>
        <li *ngIf="!userLoggedIn" class="uk-margin-small">
            <a routerLink="/login">
                <span uk-icon="icon: sign-in"></span>
                <span class="uk-margin-small-left">ENTER</span>
            </a>
        </li>
        <li *ngIf="userLoggedIn" class="uk-margin-small" routerLinkActive="nav-active">
            <a routerLink="/film/add">
                <span uk-icon="icon: pencil"></span>
                <span class="uk-margin-small-left">ADD</span>
            </a>
        </li>
        <li *ngIf="userLoggedIn" class="uk-margin-small">
            <a (click)="signout()">
                <span uk-icon="icon: sign-out"></span>
                <span class="uk-margin-small-left">SIGN OUT</span>
            </a>
        </li>
    </ul>
</div>
